# Firebase web app config
VITE_FB_API_KEY= AIzaSyD43buYr6aRGQ-lB6PnWGAn41rfEWx-9ac
VITE_FB_AUTH_DOMAIN= afterschoolpay.firebaseapp.com
VITE_FB_PROJECT_ID= afterschoolpay
VITE_FB_STORAGE_BUCKET= afterschoolpay.firebasestorage.app
VITE_FB_MESSAGING_SENDER_ID= 1083893039201
VITE_FB_APP_ID= 1:1083893039201:web:720c6e376a85b8371a6a20
VITE_FB_MEASUREMENT_ID= G-LR02XP4ZP9
